.who-container {
  display: flex;
  text-align: center;
}
.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 247, 247);
}

.info-card-light {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 0.1rem solid;
  border-color: black;
  border-radius: 1%;
  background-color: rgb(255, 255, 255);
}

.info-button:hover {
  background-color: rgb(54, 54, 54) !important;
}

.bg-img-about {
  background-image: url("../images/bg-img.jpg");
  background-repeat: repeat;
  background-size: 100% 100%;
}
