.contact-title {
  display: flex;
  text-align: center;
}

.form-container {
  background: #e9e9e9;
}

.form-content {
  min-width: 20rem;

  width: 50%;
}

.bg-img {
  background-image: url("../images/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}
